*{
    margin: 0;
    padding: 0;
    text-align: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}
.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: black;
    cursor: pointer;
}
h1{
    background-color: #13505B;
    height: 5rem;
    color:white;
    line-height: 5rem;
    font-size: 40px;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    font-size: 1.5rem;
}
#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color:#13505B;
    color:white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    
}